<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="owin:appStartup" value="TMS.Web.Core.Startup" />
    <add key="Abp.Web.SendAllExceptionsToClients" value="true" />
    <add key="LanguageEnabled" value="true" />
    <add key="PrimaryLanguageCode" value="en-US" />
    <add key="PrimaryLanguageDirection" value="ltr" />
    <add key="PrimaryLanguageName" value="English" />
    <add key="PrimaryLanguageFlagName" value="flag-icon flag-icon-gb" />
    <add key="SecondryLanguageCode" value="ar-KW" />
    <add key="SecondryLanguageDirection" value="rtl" />
    <add key="SecondryLanguageName" value="العربى" />
    <add key="SecondryLanguageFlagName" value="flag-icon flag-icon-kw0" />
    <!--<add key="DateFormat" value="dd/MM/yyyy" />-->
    <add key="DefaultLongDateFormat" value="dddd d MMMM yyyy hh:mm:ss tt" />
    <add key="DateFormat" value="dd MMMM yyyy" />
    <add key="TimeFormatScript" value="T" />
    <add key="DateFormatKendo" value="{0:MM/dd/yyyy}" />
    <add key="DateTimeFormatKendo" value="{0:MM/dd/yyyy hh:mm tt}" />
    <add key="DefaultPicture" value="images/i/people.png" />
    <!--Line number 81 for the DataReaderExtenstion.cs to change the value for the mapping side-->
    <!--Person Education-->
    <add key="PersonEducationSessionPreviousYear" value="30" />
    <add key="PersonEducationCertificationsPreviousYear" value="50" />
    <add key="PersonEducationDegreeTotolDuration" value="8" />
    <!--Person Education-->
    <!--Person Contact-->
    <add key="PersonEmailLimit" value="5" />
    <add key="PersonLinksLimit" value="50" />
    <!--Person Contact-->
    <!--Person Flags-->
    <add key="PersonFlagsClearingTime" value="5:02:00 PM" />
    <!--Time Format hours:minutes:seconds PM/AM-->
    <!--Person Flags-->
    <!--Attachment-->
    <add key="AttachmentValidTillPeriodInMonths" value="3" />
    <!--This will be added from the date on attachment created if Valid till is not provided-->
    <!--Attachment-->
    <!--User Login configuration-->
    <add key="FormAuthenticationLockedOutAttemptMax" value="3" />
    <!--these Attempts will only work when the form authentication is used  -->
    <add key="FormAuthenticationLockedOutAttemptNotifyUser" value="2" />
    <!--these Attempts will only work when the form authentication is used  -->
    <!--User Login configuration-->
    <!-- For the Email -->
    <add key="FromEmail" value="noreply@lifelongusa.com" />
    <!--noreply@lifelongusa.com-->
    <add key="FromPassword" value="try@12345" />
    <!--try@12345-->
    <add key="smtpHost" value="smtp.gmail.com" />
    <add key="SalesUrl" value="http://localhost:8030/Users/Login" />
    <!-- For the Email -->
    <!--for the event logs-->
    <add key="tmsEventLogsDirectory" value="C:\EISLOGS" />
    <add key="tmsEventLogsFileName" value="C:\EISLOGS\Errors.txt" />
    <add key="EISEncryption" value="LifEL0nGp@ki$t@n" />
    <!--for the event logs-->
    <add key="SITEURL" value="http://localhost/TMS.Web/" />
    <add key="SiteVersion" value="1.1" />
    <!--Office 365 Azure AD Configurations -->
    <add key="ida:ClientId" value="65a9b0ca-bc4a-4652-bd2d-a620b7e3aed0" />
    <add key="ida:Tenant" value="d730e4de-27db-4756-af48-09b552246ef0" />
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:PostLogoutRedirectUri" value="http://localhost:61814/" />
    <!--Office 365 Azure AD Configurations -->
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="TMS.Web" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="data source=.;initial catalog=TMS_GUST;user id=localuser;password=Local123!@#;Pooling=False" providerName="System.Data.SqlClient" />
    <add name="Telerik.Reporting.Examples.CSharp.Properties.Settings.TelerikConnectionString" connectionString="Data Source=.;Initial Catalog=AdventureWorks;Integrated Security=SSPI; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <globalization culture="auto" uiCulture="auto" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Telerik.ReportViewer.Html5.WebForms, Version=11.2.17.1025, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE" />
        <add assembly="Newtonsoft.Json, Version=4.5.0.0, Culture=neutral, PublicKeyToken=30AD4FE6B2A6AEED" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="Kendo.Mvc.UI" />
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669E0DDF0BB1AA2A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.Logging" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.DynamicFilters" publicKeyToken="146423a1b8d60775" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.11.0" newVersion="1.4.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Facilities.Logging" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
      <!--<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />-->
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>