<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="Telerik.Reporting" type="Telerik.Reporting.Configuration.ReportingConfigurationSection, Telerik.Reporting, Version=11.2.17.1025, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" />
    </configSections>
    <Telerik.Reporting>
        <Cache provider="" />
        <cache provider="" />
        <assemblyReferences>
            <add name="ReportingClassLibrary" version="1.0.0.0" />
        </assemblyReferences>
        <SessionState provider="" />
        <restReportService>
            <storage provider="" />
            <reportResolver provider="" />
        </restReportService>
    </Telerik.Reporting>
    <connectionStrings>
        <add name="ReportingClassLibrary.Properties.Settings.Default123"
            connectionString="data source=WIN-KPPK5C12UBS;initial catalog=TMS_GUST;User=sa;Pwd=Abc@12345;integrated security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
      <add name="Default" connectionString="data source=WIN-KPPK5C12UBS;initial catalog=TMS_GUST;integrated security=True;Pooling=False" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>