
@model string
@using lr = Resources.Resources;
<div class="ChildGrid">
    @(Html.Kendo().Grid<TMS.Library.TMS.Skills.PersonInterest>()
                    .Name("PersonInterestGrid" + Model)
      .Columns(columns =>
     {

         columns.Bound(e => e.Title).ClientTemplate("<a class='editRow' href='javascript: void(0)'>#=Title# </a> "); ;
         columns.Command(cmd =>
         { cmd.Edit(); cmd.Destroy(); }).Title("Edit/Delete")
                      .Width(100);
     }).Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_InterestTemplate").DisplayDeleteConfirmation(false))
                    .ToolBar(toolbar => toolbar.Template(@<text>
        <div class="toolbar">
            <a class="k-button tms-grid-add"><span class="tms-grid-icon mdi mdi-plus "></span></a>
            <a class="k-button tms-grid-edit"><span class="tms-grid-icon mdi mdi-pencil "></span></a>
            <a class="k-button tms-grid-destroy"><span class="tms-grid-icon mdi mdi-delete "></span></a>
        </div>
                    </text>))
                              .Sortable().Selectable(selectable => selectable
                                                                    .Mode(GridSelectionMode.Multiple))
                  .Pageable(pager => pager
               .Refresh(true))
             .Scrollable().Filterable()
                             .Events(e => e.Edit("Grid_onEdit").Save("General_onSave"))
            .HtmlAttributes(new { style = "height:350px;" })
               .DataSource(dataSource => dataSource
                      .Ajax()
                           .Model(model =>
                           {
                               model.Id(m => m.ID);
                           })

            .PageSize(8)
                                                .Read(read => read.Action("PersonInterest_Read", "SkillInterest", new { PersonID = Model }))
                        .Create(read => read.Action("PersonInterest_Create", "SkillInterest", new { pid = Model }))
                                .Update(read => read.Action("PersonInterest_Update", "SkillInterest"))
                        .Destroy(read => read.Action("PersonInterest_Destroy", "SkillInterest"))
                                .Events(e => e.Error("GeneralErrorHandler(\"PersonInterestGrid" + Model + "\")"))
        ).NoRecords(lr.GridNoRecordFoundMessage)
    )
</div>

<script>
    jQuery(function () {
        jQuery(".editRow").live("mousedown", function (event) {
            grid = jQuery(this).closest("[data-role=grid]").data("kendoGrid");
            grid.editRow(jQuery(this).closest("tr"));
        })
    });
</script>