
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}

<h2>Dashboard 2</h2>

@using lr = Resources.Resources

@(Html.Kendo().DropDownList()
    .Name("color")
    .DataTextField("Text")
    .DataValueField("Value")

    .BindTo(new List<SelectListItem>() {
        new SelectListItem() {
            Text = "Black",
            Value = "1"
        },
        new SelectListItem() {
            Text = "Orange",
            Value = "2"
        },
        new SelectListItem() {
            Text = "Grey",
            Value = "3"
        }
    })
    .Value("1")
    .HtmlAttributes(new { style = "width: 100%" })
                      )

<div id="dashboard-left" class="col-md-8">

    <h5 class="subtitle">Recently Viewed Pages</h5>
    <ul class="shortcuts">
        <li class="events">
            <a href="">
                <span class="shortcuts-icon iconsi-event"></span>
                <span class="shortcuts-label">Events</span>
            </a>
        </li>
        <li class="products">
            <a href="">
                <span class="shortcuts-icon iconsi-cart"></span>
                <span class="shortcuts-label">Products</span>
            </a>
        </li>
        <li class="archive">
            <a href="">
                <span class="shortcuts-icon iconsi-archive"></span>
                <span class="
                      shortcuts-label">Archives</span>
            </a>
        </li>
        <li class="help">
            <a href="">
                <span class="shortcuts-icon iconsi-help"></span>
                <span class="shortcuts-label">Help</span>
            </a>
        </li>
        <li class="last images">
            <a href="">
                <span class="shortcuts-icon iconsi-images"></span>
                <span class="shortcuts-label">Images</span>
            </a>
        </li>
    </ul>

    <br />

    <h5 class="subtitle">Daily Statistics</h5><br />
    <div id="chartplace" style="height:300px;"></div>

    <div class="divider30"></div>



</div><!--col-md-8-->

