@model TMS.Library.Entities.CRM.CRM_UserMapping
@using lr = Resources.Resources
<div class="Alertbox alert alert-danger" style="display:none">
    <ul class="errors"></ul>
</div>
<div class="form-horizontal form-person-popup">
    <div class="form-group">
        @Html.LabelFor(model => model.UserID, new { @class = "col-md-3 col-lg-3 control-label" })
        <div class="col-md-7 col-lg-7 col-sm-11">
            @(Html.Kendo().DropDownListFor(m => m.UserID)
            .HtmlAttributes(new { style = "width:100%" })
            .DataTextField("Text")
            .DataValueField("Value").Filter(Kendo.Mvc.UI.FilterType.Contains)
            .OptionLabel(lr.CRMUserOptionalLabel)
                    .DataSource(dataSource => { dataSource.Read(read => read.Action("CRM_Users", "DDL")); }))
            @Html.ValidationMessageFor(model => model.UserID)
        </div>
    </div>
</div>
