@using lr = Resources.Resources
@{
    ViewBag.Title = lr.GroupsTitle;
}
<h2>@lr.GroupsTitle</h2>
@(Html.Kendo().Grid<TMS.Library.Common.Groups.SecurityGroups>().Name("SecurityGroups")
       .Columns(columns =>
         {
             columns.Bound(p => p.PrimaryGroupName);
             columns.Bound(p => p.SecondaryGroupName);
             columns.Bound(e => e.CreatedBy).Width(190).MinScreenWidth(550).Title(lr.GridAddedBy).ClientTemplate(@"<div class='gridaddedby'>
#if(AddedByAlias!=null){#<span class='Addedby' >#:AddedByAlias#</span>#}#
<span class='date' >#=kendo.toString(CreatedDate,'" + DateFormatScript + @"')#</span>
<span class='time' >#=kendo.toString(CreatedDate,'" + TimeFormatScript + @"')#</span>
</div>");
         })
    .ToolBar(toolbar => toolbar.Template(@<text>@RenderAddTemplate()</text>))
   .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_SecurityGroupTemplate").DisplayDeleteConfirmation(false))
   .Sortable().Scrollable().Filterable().Selectable(selectable => selectable.Mode(GridSelectionMode.Single))
   .Pageable(pager => pager.Refresh(true).Numeric(true).PreviousNext(true).PageSizes(true))
   .HtmlAttributes(new { style = "height:700px !important;" })
    .Events(e => e.Edit("Grid_onEdit").Save("General_onSave"))
    .DataSource(dataSource => dataSource.Ajax().PageSize(15).Model(model => model.Id(p => p.GroupId))
    .Create(update => update.Action("Groups_Create", "Admin"))
    .Read(read => read.Action("Groups_Read", "Admin").Data("withSearch"))
    .Update(update => update.Action("Groups_Update", "Admin"))
    .Destroy(update => update.Action("Groups_Destroy", "Admin"))
    .Events(events => events.Error("GeneralErrorHandler(\"SecurityGroups\")"))
    )
)

@helper RenderAddTemplate()
{
    <div class="toolbar">
        @if (User.IsInRole("CanAddEditGroups"))
        {
            <a class="k-button tms-grid-add"><span class="tms-grid-icon mdi mdi-plus "></span></a>
            <a class="k-button tms-grid-edit"><span class="tms-grid-icon mdi mdi-pencil "></span></a>
        }
        @if (User.IsInRole("CanDeleteGroups"))
        {
            <a class="k-button tms-grid-destroy"><span class="tms-grid-icon mdi mdi-delete "></span></a>
        }
        @if (User.IsInRole("CanViewGroupsDetail"))
        {
            <a class="k-button tms-grid-detail"><span class="tms-grid-icon mdi mdi-open-in-new "></span></a>
        }
    </div>
    @*@Html.Partial("Static/_gridSearchWidget", lr.GroupsTitle)*@
}
<script>
  jQuery(function () {
        jQuery(".tms-grid-detail").live("mousedown", function (event) {
            var selectedRows = jQuery("#" + jQuery(this).parents('.k-grid')[0].id + " tr.k-state-selected");
            if (selectedRows.length == 1) {
                var grid = jQuery(this).parents('.k-grid').data("kendoGrid");
                var data = grid.dataItem(grid.select());
                if (data.GroupId == 1 || data.GroupId == 2) { } else {
                    var url = '@Url.Content("~/Admin/GroupDetail?GroupId=")' + data.GroupId;
                    window.open(url, '_blank');
                }
            }
        });
 });
</script>