
@using lr = Resources.Resources;
@model long

<script>
    function ClassNestedGrid_onEdit(e) {
        //if current model is not new then remove the Name editor
        var title = jQuery(e.container).parent().find(".k-window-title");
        var update = jQuery(e.container).parent().find(".k-grid-update");
        var cancel = jQuery(e.container).parent().find(".k-grid-cancel");
        jQuery(cancel).html('<span class="k-icon k-i-cancel"></span>' + lr.CencelRecordGeneralButton);
        if (e.model.isNew()) {
           
            jQuery(title).text(lr.AddRecordGeneralTitle);
            jQuery(update).html('<span class="k-icon k-i-check"></span>' + lr.SaveRecordGeneralButton);

        }
        else {
            jQuery(title).text(lr.EditRecordGeneralTitle);
            jQuery(update).html('<span class="k-icon k-i-check"></span>' + lr.UpdateRecordGeneralButton);
        }
        //
    }

    //Class
    function ClassTemplate(data) {
        if (data !== null) {
            var ClassTemplate = kendo.template(jQuery("#ClassTemplate").html(), { useWithBlock: false });
            return ClassTemplate(data);
        }
        return '';
    }

    function PersonTemplate(data) {
        if (data != null) {
            var personTemplate = kendo.template(jQuery("#PersonTemplate").html(), { useWithBlock: false });
            return personTemplate(data);
        }
        return '';
    }

    function imgPersonError(image) {
        image.onerror = "";
        image.src = '@string.Format("{0}{1}", Url.Content("~/"),DefaultPicture)';
        return true;
    }

    function CreateVenueAdditionalData() {
        return {
            ClassID: '@Model'
        }
    }
</script>
<div class="ChildGrid">
    @(Html.Kendo().Grid<TMS.Library.Entities.Coordinator.CourseCoordinatorMapping>()
            .Name("CourseCoodinatorGrid")
    .Columns(columns =>
    {
        columns.Bound(e => e.CoordinateID).ClientTemplate("#:data.DisplayName#");
        //columns.Bound(e => e.AddedByAlias).ClientTemplate("#=AddedByAlias#").Width(190).MinScreenWidth(550).Title(lr.GridAddedBy);
    }).Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("_CourseCoordinatorTemplate").DisplayDeleteConfirmation(false))
          .ToolBar(toolbar => toolbar.Template(@<text>@RenderAddTemplate()</text>))
     .Sortable().Selectable(selectable => selectable.Mode(GridSelectionMode.Multiple))
     .Pageable(pager => pager.Refresh(true))
     .Scrollable()
     .Events(e => e.Edit("ClassNestedGrid_onEdit").Save("General_onSave"))
     //.HtmlAttributes(new { style = "height:450px !important;" })
     .DataSource(dataSource => dataSource.Ajax().Model(model => { model.Id(m => m.ID); })
     .PageSize(5)
     .Read(read => read.Action("CourseCoordinator_Read", "Program", new { CourseId = Model }))
     .Create(read => read.Action("CourseCoordinator_Create", "Program", new { ClassID = Model }))
     .Destroy(read => read.Action("CourseCoordinate_Destroy", "Program", new { ClassID = Model }))
     .Update(read => read.Action("CourseCoordinator_Update", "Program", new { ClassID = Model }))
     .Events(e => e.Error("GeneralErrorHandler(\"CourseCoodinatorGrid\")").RequestEnd("GridRequestEndUpdate")))
     .NoRecords(lr.GridNoRecordFoundMessage)
    )
</div>
    @helper RenderAddTemplate()
    {
    <div class="toolbar">
        @if (User.IsInRole("CanAddEditClass"))
        {
            <a class="k-button tms-grid-add" title="" data-placement="left" data-toggle="tooltip" data-original-title="Tooltip on left">
                <span class="tms-grid-icon mdi mdi-plus "></span>
            </a>
            <a class="k-button tms-grid-edit"><span class="tms-grid-icon mdi mdi-pencil "></span></a>
        }
        @if (User.IsInRole("CanDeleteClass"))
        {
            <a class="k-button tms-grid-destroy"><span class="tms-grid-icon mdi mdi-delete "></span></a>
        }
    </div>

}

    <script id="PersonTemplate" type="text/kendo">
        <div class='person-box'>
            <div class='person'>
                @*<img src='../#:data.Person.ProfilePicture#' onerror="imgPersonError(this)" class='paddig' alt=''>*@

                <h2>

                    <span class="heading">
                        <b>
                            #if(data.DisplayName !=null){#<label>#:data.DisplayName#</label> #}#
                        </b>
                    </span>
                </h2>
                @*<p>
                        #if(data.Person.Designation !=null){#<label>#:data.Person.Designation#</label> #}#
                    </p>
                    <p>
                        # if (data.Person.Email!=null) { # <label> #:data.Person.Email#</label> #}#
                    </p>
                    <p>
                        #if(data.Person.ContactNumber!=null){#<label> #:data.Person.ContactNumber#</label> #}#
                    </p>
                    <p> #if(data.Person.Gender!=0){#<label>#:data.Person.GenderValue#</label> #}#</p>*@
            </div>
        </div>
    </script>
