
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}

<h2>Schedule</h2>

<div class="ChildGrid ">
    <iframe id="myIframe" scrolling="no" src="~/Views/Report/Pages/ClassSchedule.aspx" height="1000" width="100%">text</iframe>

</div>