
@{
    ViewBag.Title = "VenueDetailUtilizationReport";
    Layout = "~/Views/Shared/_LayoutDashboardNew.cshtml";
}
<style>
    .input-group {
        display: none;
    }

    .col-md-12.col-lg-offset-2 {
        margin-bottom: 26px;
    }
</style>
<div class="row">
    <div class="col-md-12 col-lg-offset-2">
        <h3>Venue Detail Utilization Report</h3>
        </div>
    </div>
        <div class="ChildGrid">
            <iframe id="myIframe" src="~/Views/Report/Pages/VenueDetailUtilizationReport.aspx" height="1000" width="100%">text</iframe>


        </div>

